html, body{
    height: 100%;
}

body{
	margin: 0;
	padding: 0;
}
.greeting {
	font-size: 6em;
	color: #F76A8C;
	margin-top: 15%;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #1D7C7A;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

a{
	margin-left:15px;
	margin-right:15px;
}

.fab{
	font-size: 1.75em;
	color:white;
}
.fas{
	font-size: 1.75em;
	color:white;
}
 
.btn-li{
	background-color: #F76A8C;
}
.btn-tw{
	background-color: #F76A8C;
}
.btn-git{
	background-color: #F76A8C;
}
.btn-email{
	background-color: #F76A8C;
}

/* Contact Page */

.upper-bar{
	color: white;
    font-size: 7em;
    margin-top: 1%;
}

.mid-msg{
	margin: 1%;
    font-size: 1.5em;
	color:white;
}

#contact-form {
    color: navy;
    font-size: large;
    font-weight: 600;
    margin-left: 25px;
    margin-right: 25px;
    max-width: 700px;
}
form {
    display: block;
    margin-top: 0em;
}
.form-group {
    margin-bottom: 1rem;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-around {
    justify-content: space-around;;
}
.flex-wrap {
    flex-wrap: wrap;
}

.flex-row {
    flex-direction: row;
}

.d-flex {
    display: flex;
}
label {
	margin-top:2%;
	font-size: 1.2em;
    display: inline-block;
    margin-bottom: .5rem;
}
#email, #name {
    width: 250px;
    margin: 3px;
}

#message {
    height: 6em;
}
#email, #message, #name {
    background: hsla(0,0%,100%,.8);
}

/*TENET*/

.turnstile{
}
